h2 {
  color: red;
}

.hidden {
  display: none;
}

a {
  display: inline-block;
  padding: 5px;
  background: #55555555;
  border-radius: 5px;
}

.aaa {
  margin: 10px 0;
}

.bbb {
  padding: 0 10px;
}

#field {
  width: 200px;
  height: 150px;
  border: 10px solid black;
  background-color: #00FF00;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  user-select: none;
}

#ball {
  position: absolute;
  transition: 1s all;
}

.green {
  background-color: #edf5e1;
}
.blue {
  background-color: #1da9e1;
}
.red {
  background-color: #ed55e1;
}


.news {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 20px 10px;
  border-top: solid 2px #c4df9b;
  position: relative;
  /* transition: background-color 0.5s; */
}

#news {
  transition: 1s;
}

.close {
  position: absolute;
  font-size: 120%;
  top: 29px;
  color: darkred;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}